*{
    box-sizing: border-box;
}

.grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 200px;
    width: 200px;
    border: 1px black solid;
}

.mole{
    background-image: url(/images/mole.png);
    
}